@use './partials/_variables.scss' as *;
@import 'bootstrap/scss/bootstrap';



$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Fredoka:wght@700&family=Inclusive+Sans&family=Montserrat:wght@500&family=Noto+Sans+Symbols:wght@400;600&family=Open+Sans&family=Oswald:wght@200&family=PT+Sans:wght@400;700&family=Roboto:wght@300;400;500;700&family=Space+Grotesk:wght@700&display=swap');

* {
    font-family: 'Roboto';
    font-size: 400;
}


.my-btn-orange {
    background-color: $backgroundBtnOrange;
    font-weight: bolder;
    font-size: 0.5 em;

    &:hover {
        background-color: $backgroundgray;
    }
}

.specialItalic {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 48px;
    font-weight: 400;
    color: #6ac5f1;
}

.img-conteiner {
    width: 100%;
    height: auto;
}

.text-orange {
    color: $hoverTextOrange;
}

.image-container {
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}